DATABASE_URL=postgresql://neondb_owner:xxx@ep-xxx.neon.tech/neondb?sslmode=require
NEXT_PUBLIC_SITE_URL=https://airifoundation.org
NEXT_PUBLIC_TURNSTILE_SITE_KEY=0x000000000
TURNSTILE_SECRET_KEY=0x000000000
JWT_SECRET=your-secret-key
